* {

    padding: 0;
    margin: 0;
    border: border-box;
    font-family: Arial, Helvetica, sans-serif;

}



.nevbar {

    height: 60px;
    width: 100vw;
    color: white;
    background: #0f1111;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}


/* box-1 */
.navlogo {

    height: 45px;
    width: 120px;
    position: relative;
    bottom: 5px;
}

.logo {
    background-image: url(amazon_logo.png);
    background-size: cover;
    height: 55px;
    width: 110%;
    position: relative;
    bottom: 7px;
}

.border {
    border: 2px solid transparent;
}

.border:hover {
    border: 2px solid rgb(196, 196, 196);
    border-radius: 5px;


}

/* box-2 */

.addfrist {

    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 12px;
}

.addsec {
    font-size: 1rem;
}

.addicon {
    display: flex;
    align-items: center;

}

/* box-3 */

.navsearch {

    display: flex;
    justify-content: space-evenly;
    background: pink;
    width: 65%;
    height: 40px;
    border-radius: 4px;
}

.searchsele {
    background: f3f3f3f;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;

}

.searchinput {
    width: 100%;
    font-size: 1rem;
    border: none;
}

.searchicon {
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    background: #febc68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}

.navsearch:hover {
    border: 2px solid orange;
}

/* box-4
 */

span {
    font-size: 0.8rem;

}

.para {

    font-size: 0.90em;
    font-weight: 1000;
}

/* box-5 */

.navcard i {

    font-size: 30px;
}

.navcard {
    font-size: 0.80rem;
    font-weight: 1000;
}

/* panel */
.panel {
    display: flex;
    height: 40px;
    background: #222f3d;
    color: white;
    align-items: center;
    justify-content: space-around;
}

.panelops {
    display: flex;
    justify-content: center;
    align-items: center;
}


.paneldeals {

    margin-left: 20px;
    font-weight: 900;
}

/* hero */

.hero {
    height: 385px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e2e7e6;

}

.heroimg {


    background-image: url(heroimg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 385px;
    width: 78%;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 10px 10px 50px #0f1111;


}

.heromsg {

    background: white;
    color: #0f1111;
    height: 40px;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    position: relative;

    top: 250px;
    left: 220px;
    box-shadow: 10px 10px 1p#cccccc;



}

.heromsg a {
    color: #007185;
}

/* shop */

.shopbox {

    height: 900px;
    background: #e2e7e6;
    display: flex;
    justify-content: center;
}

.shop {

    width: 78%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.box {
    background: white;
    margin-top: 15px;
    height: 400px;
    width: 23%;
    padding: 20px 0px 15px;
    position: relative;
    bottom: 5rem;

    box-shadow: 3px 10px 10px #0f1111;
}

.boximg {

    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
    box-shadow: 3px 3px 3px #0f1111;

}

.boximg:hover {
    transform: rotateY(360deg);
    transition: 1s linear 0s;

}


.boxcon {

    margin-left: 1rem;
    margin-right: 1rem;


}

.boxcon p {

    color: #007185;
}

/* footer */

.footerpanel1 {

    height: 2rem;
    background: #37475a;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 900;
}

.footerpanel2 {

    background: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;


}

.footerpanel2 a {
    display: block;
    font-size: 0.85rem;
    color: #dddddd;
    margin: 10px;
}

.footerpanel3 {

    height: 70px;
    background: #222f3d;
    border-top: 0.3px solid #cccccc;
    display: flex;
    justify-content: center;
    align-items: center;

}

.logoo {
    background-image: url(amazon_logo.png);
    background-size: cover;
    height: 80px;
    width: 145px;


}

.footerpanel4 {
    height: 30px;
    /* border-top: 0.3px solid #cccccc; */
    background: #0f1111;
    color: whitesmoke;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}